<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/food.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link href="/css/toast.css" rel="stylesheet"/>
    <title>Trang chủ</title>
</head>
<body>
<div th:fragment="homeHeader">
    <div class="header">
        <div class="left-header">
            <img src="/food_image/logo.png" alt="">
        </div>
        <div class="mid-header">
            <div class="menu">
                <div class="icon">
                    <i class="fa-solid fa-list"></i>
                </div>
                <div class="item">
                    <p>Thực đơn</p>
                </div>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div class="item">
                    <p>Loại món ăn</p>
                    <div class="icon-arrow">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="input">
                    <input type="text" id="search-input" placeholder="Bạn cần tìm gì?">
                </div>
                <div class="icon">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
        <div class="right-header">
            <div class="order">
                <div class="icon">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="item">
                    <p>Lịch sử đặt hàng</p>
                </div>
            </div>
            <div class="cart">
                <a th:href="@{/cart}">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="quantity-cart" th:text="${numProduct ?: 0}"></div>
                    </div>
                    <div class="item">
                        <p>Giỏ hàng</p>
                    </div>
                </a>
            </div>
            <div class="info">
                <div class="icon">
                    <i class="fa-solid fa-user-pen"></i>
                </div>
                <div class="item">
                    <p>Thông tin cá nhân</p>
                </div>
            </div>
            <div class="register">
                <div class="icon">
                    <i class="fa-solid fa-user-large"></i>
                </div>
                <div class="item">
                    <a th:href="@{/register}" class="btn btn-secondary">Đăng ký</a>
                    <a th:href="@{/login}" class="btn btn-secondary">Đăng nhập</a>
                    <p>Đăng xuất</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>